.facts { width:70%; background-color: tomato; margin-right:auto; margin-left:auto; padding:10px; max-width:700px;}

.Baseball{ margin-left:auto; margin-right:auto;}
          
body{ background-image: url(https://b.fssta.com/uploads/application/mlb/venues/SR-Great-American-Ball-Park.vresize.2240.1260.medium.1.jpg);background-repeat: one; background-postion: center; background-size:85%; font-family: sans-serif;

img{display:block;
width: 400px;
margin-left: auto;
margin-right: auto;

}

h1, h2, h3, h4, h5, h6, li, p{ text-align: center; 



a{ color:white;}

a: visited { color:tomato;}


a:hover {color:purple;}

.video-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}
.video-wrapper {
    text-align: center;
}
.video-wrapper iframe,
.video-wrapper video {
    display: inline-block;

          iframe{float:center;}
